.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-content {
    width: 20vw;
}

.form-group{
    display: flex;
    flex-direction: column;   
}
.form-container {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 15px;
}